#set ($pagingFont = $propertyUtil.getNestedString($portlet, 'pagingFont', 'selectorText'))
#set ($pagingDivClass = $namespace + 'paging')
#set ($previousText = '&laquo; ' + $propertyUtil.getString($bundle, 'previousText'))   ## Needed by script, do not rename/move/remove
#set ($nextText = $propertyUtil.getString($bundle, 'nextText') + ' &raquo;')           ## Needed by script, do not rename/move/remove

##
## NOTE! The content of this div will be replaced with pagination navigation via javascript
<div class="$pagingDivClass $pagingFont"#if ($isRenderingTopPaging) style="margin-top:0.7em"#end>
#set ($endecUtil = $sitevisionUtils.endecUtil)
#set ($pagingLinkRenderer = $sitevisionUtils.linkRenderer)
$pagingLinkRenderer.clearUseEncoding() ## Manual encode to enable xml entities in link text (&raquo / &laquo)
$pagingLinkRenderer.clearUseLinkDecorationSettings()

#set ($previousFrameURI = $propertyUtil.getString($portlet, 'previousFrameURI', ''))
#if ($previousFrameURI != '')
   #set ($previousFrameURI = $endecUtil.escapeXML($previousFrameURI))
   $pagingLinkRenderer.setText($previousText)
   $pagingLinkRenderer.setStringTarget($previousFrameURI)
   $pagingLinkRenderer.render()
#end
#set ($nextFrameURI = $propertyUtil.getString($portlet, 'nextFrameURI', ''))
#if ($nextFrameURI != '')
   #set ($nextFrameURI = $endecUtil.escapeXML($nextFrameURI))
   $pagingLinkRenderer.setText($nextText)
   $pagingLinkRenderer.setStringTarget($nextFrameURI)
   $pagingLinkRenderer.render()
#end
</div><div class="sv-clear-left"><!-- empty --></div>

##
## Render pagination script (that replaces content of above div)
#if (!$scriptUtil.getNonNull($pagingScriptEvaluated)) ## Ensure to render it once only
   #set ($pagingScriptTemplate = $propertyUtil.getNestedString($portlet, 'templates', 'pagingScriptTemplate'))
   $velocityEvaluator.evaluate($pagingScriptTemplate)
   #set ($pagingScriptEvaluated = true)
#end
